In [1]:
#Filename: RandomForestRegressor_KickScrape.ipynb
#Author: Kyle C. Larson 11/21/2020
#Purpose: to apply Random Forest Model to KickScrape
import pandas as pd
import csv
kickscrape_path ="DSI_kickstarterscrape_dataset.csv"
kickdataframe = pd.read_csv(kickscrape_path, sep=",", encoding="latin-1")

In [7]:
y = kickdataframe[['funded percentage']]
#X_full.drop(['SalePrice'], axis=1, inplace=True) 
#from Kaglle Intermedite Machine Learning Exercize: missing values
kickdataframe.drop(['funded percentage'], axis=1, inplace=True)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(kickdataframe, y, train_size=0.8, test_size=0.2, random_state = 0)

In [9]:
X_train.head()

,project id,name,url,category,subcategory,location,status,goal,pledged,backers,funded date,levels,reward levels,updates,comments,duration
18677,879990240,Adam Underground: A Collaborative Film between...,http://www.kickstarter.com/projects/2108974208...,Film &amp; Video,Animation,"Newton, MA",successful,2000.0,2310.0,43,"Tue, 27 Apr 2010 03:50:00 -0000",8,"$5,$10,$15,$25,$50,$100,$250,$500",0,0,12.41
3714,175903174,Help GirlandPiano Build THE WAYWARD ARK!,http://www.kickstarter.com/projects/girlandpia...,Music,Rock,"Keene, NH",successful,1500.0,1660.0,40,"Sun, 18 Dec 2011 04:55:00 -0000",17,"$5,$10,$15,$25,$30,$35,$40,$50,$60,$75,$100,$1...",11,5,30.96
30213,1421180585,artist that draws with his mouth seeks assistance,http://www.kickstarter.com/projects/883623056/...,Art,Illustration,NaN,failed,1500.0,0.0,0,"Sun, 15 Aug 2010 19:43:00 -0000",6,"$5,$10,$50,$100,$500,$1,000",0,0,38.96
19738,929308462,"Put Compelling Debut Novel, &quot;A Burning Yo...",http://www.kickstarter.com/projects/1890126167...,Publishing,Fiction,"Orlando, FL",successful,3575.0,3681.0,62,"Tue, 14 Jun 2011 21:56:06 -0000",14,"$1,$10,$20,$35,$49,$50,$74,$75,$99,$100,$250,$...",10,16,34.00
12319,583746001,Consequenes of our Choices,http://www.kickstarter.com/projects/818072494/...,Film &amp; Video,Film &amp; Video,"Lynn, MA",successful,500.0,625.0,15,"Mon, 23 Apr 2012 13:55:50 -0000",6,"$5,$10,$25,$50,$75,$100",0,0,59.96

In [11]:
y_train.head()

       funded percentage
18677           1.155000
3714            1.106667
30213           0.000000
19738           1.029530
12319           1.250000

In [12]:
# Shape of training data (num_rows, num_columns)
print(X_train.shape)

# Number of missing values in each column of training data
missing_val_count_by_column = (X_train.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

(36765, 16)
location         1089
pledged            11
reward levels      49
dtype: int64

In [16]:
from sklearn.impute import SimpleImputer
#we can impute if data are numeric only 
non_numeric = ['name', 'url', 'category', 'subcategory', 'location', 'status', 'funded date', 'reward levels']
reduced_X_train = X_train.drop(non_numeric, axis=1)
reduced_X_valid = X_valid.drop(non_numeric, axis=1)
# Fill in the lines below: imputation
# Your code here
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(reduced_X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(reduced_X_valid))

# Fill in the lines below: imputation removed column names; put them back
imputed_X_train.columns = reduced_X_train.columns
imputed_X_valid.columns = reduced_X_valid.columns

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

model = RandomForestRegressor(n_estimators=100, random_state=0)
model.fit(imputed_X_train, y_train)
preds = model.predict(imputed_X_valid)
mae = mean_absolute_error(y_valid, preds)
print('MAE:'+str(mae))

C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

MAE:0.9140868605851978